{% extends "base.html" %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='login.css') }}"
/>
{% endblock %} {% block body %}
<div class="container">
  <div class="title">
    <img
      src="{{ url_for('static', filename='images/logo.svg') }}"
      alt="logo"
      class="logo"
    />
    <h1>Sign In</h1>
  </div>

  <form
    action=""
    method="post"
    novalidate
  >
    {{ form.hidden_tag() }}
    <p>
      {{ form.username.label }}<br />
      {{ form.username(size=32, class_='form-control') }}<br />
      {% for error in form.username.errors %}
      <span style="color: red">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.password.label }}<br />
      {{ form.password(size=32, class_='form-control') }}<br />
      {% for error in form.password.errors %}
      <span style="color: red">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.remember_me(class_='form-check-input') }} {{
      form.remember_me.label }}
    </p>
    <p>{{ form.submit(class_='btn btn-primary') }}</p>
    <p class="btn btn-primary">
      Don't have an account? <a href="{{ url_for('profile') }}">Register</a>
    </p>
  </form>
</div>
{% endblock %}
