{% extends "base.html" %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='swipes.css') }}"
/>
{% endblock %} {% block body %}
<body>
  <div
    class="card"
    id="userCard"
  >
    <div class="card-front">
      <div class="image-placeholder">
        {% if user.image_url %}
        <img
          src="{{ user.image_url }}"
          alt="{{ user.name }}'s profile photo"
          class="profile-image"
        />
        {% else %}
        <div class="default-image">No Image</div>
        {% endif %}
      </div>
      <p class="category">Age:</p>
      <p class="age">{{user.age }}</p>
      <p class="category">Field:</p>
      <p class="field">{{user.field }}</p>

      <p class="category">Location:</p>
      <p>{{ user.location }}</p>

      <p class="category">Description:</p>
      <p>{{ user.description }}</p>

      <div class="like-dislike">
        <form
          action="{{ url_for('swipe', action='dislike') }}"
          method="post"
        >
          <input
            type="hidden"
            name="swiped_user_id"
            value="{{ user.id }}"
          />
          <button
            type="submit"
            class="dislike"
          >
            Dislike
          </button>
        </form>
        <form
          action="{{ url_for('swipe', action='like') }}"
          method="post"
        >
          <input
            type="hidden"
            name="swiped_user_id"
            value="{{ user.id }}"
          />
          <button
            type="submit"
            class="like"
            id="like"
            onclick=""
          >
            Like
          </button>
        </form>
      </div>
    </div>
    <div class="card-back">
      <p class="category">Background:</p>
      <p>{{ user.background }}</p>

      <p class="category">Strength:</p>
      <p>{{ user.strength }}</p>

      <p class="category">Goals:</p>
      <p>{{ user.goals }}</p>
      <div class="like-dislike">
        <form
          action="{{ url_for('swipe', action='dislike') }}"
          method="post"
        >
          <input
            type="hidden"
            name="swiped_user_id"
            value="{{ user.id }}"
          />
          <button
            type="submit"
            class="dislike"
            id="dislike"
          >
            Dislike
          </button>
        </form>
        <form
          action="{{ url_for('swipe', action='like') }}"
          method="post"
        >
          <input
            type="hidden"
            name="swiped_user_id"
            value="{{ user.id }}"
          />
          <button
            type="submit"
            class="like"
            id="like"
          >
            Like
          </button>
        </form>
      </div>
    </div>
  </div>

  <script>
    document.getElementById("userCard").addEventListener("click", flipCard);
    function flipCard() {
      document.getElementById("userCard").classList.toggle("flipped");
    }

    function likeUser() {}

    async function dislikeUser() {}
  </script>
</body>
{% endblock %}
